
body { background: red; }
.content {
	margin: 0 auto; width: 500px;
}

.shaka-bottom-controls {
	width: 100%;
    padding: 0;
    padding-bottom: 0;
    z-index: 1;
}

.shaka-bottom-controls {
	display: flex; flex-direction: column;
}

.shaka-ad-controls {
	order: 1;
}


.shaka-controls-button-panel { 
	order: 2;
}
/*
.shaka-controls-button-panel {
	order: 3;
}*/